body {
    font-family: 'Open Sans',Arial,sans-serif;
}

.cabecalho .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.cabecalho {
    background: rgb(233, 240, 253);
    padding: 20px 0;
}

.container {
    margin: 0 auto;
    width: 94%;
}

.logo__site {
    height: 55px;
    margin:0 0 0 10px
}

.titulo__site {
    color: blue;
    font-size: 45px;
    margin-bottom: 10px;
    font-weight: bold;
}

.titulo__site a {
    color: inherit;
    text-decoration: none;
}

.menu__site {
    color: blue;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.menu__lista {
    border: 1px solid blue;
    border-radius: 10%;
    color: blue;
    justify-content: space-between;
    margin:0 0 0 8px;
    padding: 7px;
    text-decoration: solid;
}

.menu__lista:hover {
    color: aliceblue;
    background: mediumblue;
    transition: 0.5s;
}