.cursos {
    background-color: white;  
    margin-top: 20px;
    margin-bottom: 20px;
}

.cursos__titulo {
    font-size: 32px;
    color: darkblue;
    font-weight: bold;
    padding: 10px 0 10px 0;
    text-align: center;
}

.cursos__lista {
    flex-wrap: wrap;
    display: flex;
}

.cursos__logo {
    width: 20%;
}

.cursos__nome {
    font-size: 1rem;
    color: darkblue;
    text-align: center;
}

.cursos__disponiveis {
    box-shadow: gray;
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px #CCC;
    margin: 1%;
    width: 20%;

}

.cursos__disponiveis:nth-child(4n) {
    margin-right: 0;
}

.cursos__disponiveis:nth-child(4n+1) {
    margin-left: 0;
}