.beneficios {
    background: #5E9EDC;
    justify-content: space-between;
    display: flex;
    padding: 25px 0;
}

.beneficios__titulo {
    font-size: 25px;
    font-weight: bolder;
}

.beneficios__escola {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 10;
    text-align: center;
}

.beneficios__descricao {
    flex-grow: 1;
    font-size: 18px;
    line-height: 2;
}
}

.cadastrar__curso {
    background: tomato;
    color: antiquewhite;
    justify-content: space-between;
}

.cadastrar__curso:hover {
    background: red;
    transition: 2s;
}